html
	include partials/head.pug
	include partials/navigation.pug

	body
		.container
			h1.text-center Messages for Sean
			.col-md-10.col-md-offset-1
				table.table.table-striped
					thead
						tr
							th Message
							th Date
							th 
					tbody
						tr
							td Hello I am dead rip
							td 2 days after death
							td 								
								a(href="").btn.btn-danger.btn-sm.pull-right Delete
						tr
							td try not to kill yourself I know you will be sad </3
							td 3 days after death
							td 								
								a(href="").btn.btn-danger.btn-sm.pull-right Delete
