html
	include partials/head.pug
	include partials/navigation.pug
	script(src='scripts/messages.js')

	body
		.container
			h1.col-md-8.col-md-offset-2.text-center Messages 
			.col-md-1
				.button.btn.btn-success.btn-lg(data-toggle="modal" data-target="#myModal") Add
			.col-md-10.col-md-offset-1
				table.table.table-striped
					thead
						tr
							th(style="width:70%;") Message
							th Date
					tbody#recipientstable
			#myModal.modal.fade(role='dialog')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal') ×
							h4.modal-title.text-center New Message
						.modal-body.form-horizontal.col-sm-10.col-sm-offset-1
							form#addMessageForm
								fieldset
									.form-group
										label.control-label(for="inputMessage") Message (Max 160 char)
										br
										input#inputMessage.form-control(type="text", placeholder="Message ")
									.form-group
										label.control-label(for="none") Send via								
										.checkbox
											label
												input#inputSMS(type='checkbox')
												|  SMS
										.checkbox
											label
												input#inputEmail(type='checkbox')
												|  Email
									.form-group
										label(for='inputEvent') Message Type
										select#inputEvent.form-control
											option Birthday
											option Christmas
											option Valentines
											option Specific Date
											option Fixed time after death
									.form-group#datePicker
										label.control-label(for="inputDate")  Date
										br
										input#inputDate.form-control(type="datetime-local")
										.checkbox
											label
												input#inputRepeat(type='checkbox')
												|  Repeat Annually
									.form-group#datebPicker
										label.control-label(for="inputDate")  Date birth
										br
										input#inputbDate.form-control(type="datetime-local")
									.form-group#timePicker
										.row
											.col-sm-2
												label.control-label(for="inputDays")  Days
											.col-sm-2
												label.control-label(for="inputHours")  Hours
											.col-sm-2
												label.control-label(for="inputMinutes")  Minutes
										br
										.row
											.col-sm-2
												input#inputDays.form-control(type="number", placeholder="0")
											.col-sm-2
												input#inputHour.form-control(type="number", value="0", min="0")
											.col-sm-3.text-right
												input#inputMinutes.form-control(type="number", value="0", min="0")
									.form-group
										button.btn.btn-default(type='button', data-dismiss='modal') Cancel
										button.message-submit.btn.btn-success.pull-right(type="button", data-dismiss='modal') Add
						.modal-footer


