html
	include partials/head.pug
	include partials/navigation.pug

	body
		.container
			h1.text-center Loved ones
			.col-md-10.col-md-offset-1
				table.table.table-striped
					thead
						tr
							th Name
							th Number
							th No. Messages
							th 
					tbody
						tr
							td Sean O'Neill
							td 077994479907
							td 42
							td 								
								a(href="").btn.btn-danger.btn-sm.pull-right Delete
								a(href="/messages").btn.btn-success.btn-sm.pull-right Show
						tr
							td Sean O'Neill
							td 077994479907
							td 42
							td 								
								a(href="").btn.btn-danger.btn-sm.pull-right Delete
								a(href="/messages").btn.btn-success.btn-sm.pull-right Show
						tr
							td Sean O'Neill
							td 077994479907
							td 42
							td 								
								a(href="").btn.btn-danger.btn-sm.pull-right Delete
								a(href="/messages").btn.btn-success.btn-sm.pull-right Show
						tr
							td Sean O'Neill
							td 077994479907
							td 42
							td 								
								a(href="").btn.btn-danger.btn-sm.pull-right Delete
								a(href="/messages").btn.btn-success.btn-sm.pull-right Show
